body {
  font-family: "Raleway", sans-serif;
}

.container {
  width: 80%;
  margin: 2rem auto;
}
.container p {
  margin: 1rem 0;
}

.hero {
  height: 30vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: baseline
  padding: 0 10vw;
  color: rgba(0,0,0);
}
.hero h1 {
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
  background: rgba(0, 0, 0, 0);
  padding: 2rem;
  border-radius: 20px 0;
}
.hero h1::before, .hero h1::after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
}
.hero h1::before {
  left: 0;
  border-bottom: 3px solid #ffebf7;
}
.hero h1::after {
  right: 0;
  border-top: 3px solid #ffebf7;
}

.main-header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  width: 100vw;
  padding: 0 0;
  color: black;
  z-index: 1;
  transition: 0.4s ease-out;
}
.main-header a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}
.main-header .nav-links {
  display: flex;
  list-style: none;
}
.main-header .nav-links .nav-link a {
  margin: 0.2rem;
  padding: 1rem 0.5rem;
}
.main-header .nav-links .nav-link a:hover {
  background: rgba(255, 255, 255, 0.2);
}
.main-header .menu-icon {
  position: relative;
  padding: 26px 10px;
  cursor: pointer;
  z-index: 1;
  display: none;
}
.main-header .menu-icon__line {
  display: block;
  position: relative;
  background: #000;
  height: 2px;
  width: 20px;
  border-radius: 4px;
}
.main-header .menu-icon__line::before, .main-header .menu-icon__line::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  background: #000;
  
}
.main-header .menu-icon__line::before {
  transform: translateY(-5px);
}
.main-header .menu-icon__line::after {
  transform: translateY(5px);
}
.main-header .menu-btn {
  display: none;
}
.main-header.scrolled {
  height: 50px;
  background: #ffebf750;
  color: white;
}
.main-header.scrolled .menu-icon__line, .main-header.scrolled .menu-icon__line::before, .main-header.scrolled .menu-icon__line::after {
  background: white;
}

@media screen and (max-width: 768px) {
  .main-header .menu-icon {
    display: block;
  }
  .main-header .menu-icon__line {
    animation: closedMid 0.8s backwards;
    animation-direction: reverse;
  }
  .main-header .menu-icon__line::before {
    animation: closedTop 0.8s backwards;
    animation-direction: reverse;
  }
  .main-header .menu-icon__line::after {
    animation: closedBtm 0.8s backwards;
    animation-direction: reverse;
  }
  .main-header .nav-links {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-size: 2rem;
    color: #fff;
    background: #272727;
    transition: opacity 0.8s 0.5s, clip-path 1s 0.5s;
    clip-path: circle(200px at top right);
  }
  .main-header .nav-links .nav-link {
    opacity: 0;
    transform: translateX(100%);
    width: 100%;
    text-align: center;
  }
  .main-header .nav-links .nav-link a {
    display: block;
    padding: 2rem 0;
  }
}

body {
	font-size: 100%;
}

html, body {
  width: 100%;
  height: 100%;
}

.main {
  background-position: center;
  background-size: cover;
  position: relative;
  background:  white;
  width: 100%;
  height: 50%;
  background-size: cover;
  transition: 1s ease all;
}
.main:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.034);
}
.main .image-wrap {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  width: 100%;
  height: 225px;
  overflow: hidden;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.main .image-wrap .image-scroll {
  /*position: absolute;
  justify-content: space-evenly;*/
  display: flex;
  justify-content: center;
  align-items: center;
    left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.main .image-wrap .image-scroll .art {
  cursor: pointer;
  position: relative;
  background-size: cover;
  background-position: center;
  border-right: 1px solid #fff;
  height: 100%;
  width: 333px;
  display: block;
  float: left;
}
.main .image-wrap .image-scroll .art:hover:before {
  background-color: rgba(0, 0, 0, 0.15);
}
.main .image-wrap .image-scroll .art:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: .5s ease all;
}

main .image-wrap .image-scroll .art .genre {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1
  transform: translate(-50%, -50%);
  color:#fff
}


.main .image-wrap .image-scroll .art.a {

  background-image: url("https://dazedimg-dazedgroup.netdna-ssl.com/900/azure/dazed-prod/1210/6/1216840.jpg");
}
.main .image-wrap .image-scroll .art.b {
  background-image: url("https://cdn1.i-scmp.com/sites/default/files/styles/1200x800/public/images/methode/2017/02/03/93d2cb98-e92c-11e6-925a-a992a025ddf7_1280x720.jpg?itok=HHgu8WFC");
}
.main .image-wrap .image-scroll .art.c {
  background-image: url("https://n74df333l0p11ftok3gpzqtz-wpengine.netdna-ssl.com/wp-content/uploads/2015/07/a-texas-judge-cited-the-big-lebowski-in-a-legal-decision-1200x600.jpg");
}
.main .image-wrap .image-scroll .art.d {
  background-image: url("https://tomandlorenzo.com/wp-content/uploads/2015/11/Clueless-The-Movie-Costumes-Tom-Lorenzo-Site.jpg");
}
.main .image-wrap .image-scroll .art.e {
  background-image: url("https://s3.amazonaws.com/files.collageplatform.com.prod/image_cache/2020x1160_fit/56d076fc6aa72c8630e65aa7/9416cc6683d4145eddfe09d7421480f7.jpeg");
}
.main .image-wrap .image-scroll .art.f {
  background-image: url("https://static.independent.co.uk/s3fs-public/thumbnails/image/2015/04/03/12/Casablanca.jpg?w968h681");
}
.main .image-wrap .image-scroll .art.g {
  background-image: url("https://images.squarespace-cdn.com/content/v1/5233347fe4b00c95cda9e5d6/1411688739305-QQN2IN2XU3SPVAJBHQ91/ke17ZwdGBToddI8pDm48kNvT88LknE-K9M4pGNO0Iqd7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1USOFn4xF8vTWDNAUBm5ducQhX-V3oVjSmr829Rco4W2Uo49ZdOtO_QXox0_W7i2zEA/image-asset.jpeg");
}
.main .image-wrap .image-scroll .art.h {
  background-image: url("https://starloggers.files.wordpress.com/2019/03/neo-and-trinity.jpg");
}

p {
  color:#fff;
  position: absolute;
  font-size: 1rem;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);

}

ul#social-buttons {
	margin:0;
  padding:0;
}
#social-buttons li {
  list-style-type:none;
  position: relative;
  align-items: center;
  right: 0px;
  bottom: 0px;
  display:inline-block;
	border: 0;
	border-radius:50%;
	width:6em;
	height:0em;
	padding:0;
	margin:0;
}
#social-container {
  position: absolute;
  right: 0px;
}